<div class="flex-1 h-full overflow-y-auto" style="background-color: #DAD3CC">
    <div class="py-2 px-3">

        <div class="flex justify-center mb-2">
            <div class="rounded py-2 px-4" style="background-color: #DDECF2">
                <p class="text-sm uppercase">
                    February 20, 2018
                </p>
            </div>
        </div>

        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>
        <app-chat-message [isUserMessage]="true"/>
        <app-chat-message/>
        <app-chat-message/>

    </div>
</div>