<div class="flex-1 h-full overflow-y-auto" style="background-color: #DAD3CC">
    <div class="py-2 px-3">
        @for (l of messages; track l.date) {
            <div class="flex justify-center mb-2 mt-10">
                <div class="rounded py-2 px-4" style="background-color: #DDECF2">
                    <p class="text-sm uppercase">
                        {{ l.date | date: "MMMM dd yyyy" }}
                    </p>
                </div>
            </div>

            @for (m of l.messages; track m.id) {
                <app-chat-message [isUserMessage]="m.sender === undefined"/>
            }
        }
    </div>
</div>