<div class="w-full border flex flex-col">
    <!-- Header -->
    <div class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center">
        <div>
            <img class="w-10 h-10 rounded-full"
                 src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png"
                 alt=""/>
        </div>
    </div>

    <!-- Search -->
    <app-search/>

    <!-- Contacts -->
    <div class="bg-grey-lighter flex-1 overflow-auto">
        <app-contact-list/>
    </div>

</div>