<div class="w-full border flex flex-col">
    <!-- Header -->
    <div class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center">
        <div class="flex gap-3 items-center">
            <app-avatar [src]="user?.avatar"/>

            <div class="text-gray-800 text-2xl">
                {{ user?.login }}
            </div>
        </div>
    </div>

    <app-search (selectUser)="writeToUser.emit($event)"/>

    <div class="bg-grey-lighter flex-1 overflow-auto">
        <app-contact-list [conversations]="conversations"/>
    </div>

</div>