@if (chat) {
  <div class="box">
    <header class="header">
      <tui-avatar
        size="m"
        src="C"
        class="text"
        [style.background]="'G' | tuiAutoColor" />

      <h3 class="name">{{ chat.name }}</h3>
    </header>


    <div class="chat">
      <tui-scrollbar class="h-full">
        <cdk-virtual-scroll-viewport tuiScrollable itemSize="12" class="h-full">
          <app-message *cdkVirtualFor="let d of messages; let odd = odd" [ownerMessage]="odd" />
        </cdk-virtual-scroll-viewport>
      </tui-scrollbar>
    </div>

    <div class="py-2 px-4 flex items-center gap-2 bg-gray-200">
      <textarea class="textarea" placeholder="Enter message"></textarea>

      <button
        appearance="opposite"
        iconStart="send-horizontal"
        size="l"
        tuiIconButton
        type="button"
        [style.border-radius.%]="25"
      >
        send-horizontal
      </button>

    </div>
  </div>
} @else {
  <div class="empty">
    Select dialog on sidebar
  </div>
}