:host {
  @apply block h-full;
}

.box {
  @apply flex flex-col h-full;
}

.header {
  @apply flex items-center px-3 py-2 shadow-md;
}

.name {
  @apply text-2xl mx-auto;
}

.chat {
  @apply flex-1;
  background: url("/chat-bg.webp") #eeeeee;
}

.field {
  height: 60px;
  background: #eee;
}

.textarea {
  @apply w-2/3 border border-b-cyan-950 resize-none flex-1 h-full px-3 py-2 rounded-md text-xl h-[50px];
}


.empty {
  @apply bg-gray-500 h-full text-white text-3xl flex justify-center items-center;
}